.shelf {
  position: relative;
  perspective: 300px;
  perspective: 50% 50%;
  margin: auto;
  width: 800px;
  height: 6px;
  transform-style: preserve-3d;
  transform: rotateX(-60deg);
  margin-top: 8px;
}

.front,
.top,
.back,
.left-side,
.right-side {
  position: absolute;
}

.front {
  background: #552b7a;
  z-index: 9;
  border: 1px solid rgb(158, 72, 185, 0.6);
  width: 100%;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px -1px rgba(0, 0, 0, 0.4),
    0px 7px 18px 1px rgba(0, 0, 0, 0.5), 0 0 0 5px transparent,
    0 0 0 5px transparent;
}

.top {
  background: #552b7a;
  width: 100%;
  height: 40px;
  transform: rotateX(90deg) translateY(-40px);
  transform-origin: 50% 0;
}

.back {
  background: #552b7a;
  width: 100%;
  height: 6px;
  transform: translateZ(-40px);
}

.left-side {
  background: #552b7a;
  /* border: 1px solid #9e48b9; */
  width: 40px;
  height: 6px;
  transform: rotateY(90deg) translateZ(0);
  transform-origin: 0 50%;
}

.right-side {
  background: #552b7a;
  /* border: 1px solid #9e48b9; */
  width: 40px;
  height: 6px;
  right: 0;
  transform: rotateY(90deg) translateZ(40px);
  transform-origin: 0 50%;
}
